@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
.container {
  background: url(../img/wall1.png);
  background-position: center;
  overflow: hidden;
  position: relative;
  background-position-y: -210px;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .container {
    background: url(../img/walt.png);
    background-position-y: 0;
  }
}

.wrapper {
  max-width: 1210px;
  margin: auto;
}

button {
  cursor: pointer;
}

.header-wrap {
  display: grid;
  grid-template-columns: 14% auto auto;
  padding: 46px 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 128.023%;
  align-items: center;
}
@media (max-width: 768px) {
  .header-wrap {
    grid-template-columns: 1fr auto 1fr 1fr;
    padding: 15px 5px;
    font-size: 10px;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 50px;
}
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
.nav-list :hover {
  color: #FFF;
  cursor: pointer;
}

.reg {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 13px;
}
.reg :hover {
  color: #FFF;
  cursor: pointer;
}
@media (max-width: 768px) {
  .reg {
    justify-content: center;
  }
}

.sign-btn {
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 7px;
  background-color: #BC4749;
  font-weight: 500;
  padding: 11px 35px;
  margin-right: 14px;
}
@media (max-width: 768px) {
  .sign-btn {
    font-size: 10px;
    padding: 5px 10px;
  }
}

.ham-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .ham-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    top: -120%;
    height: 100vh;
    right: 0;
    width: 100%;
    background-color: #BC4749;
    z-index: 2;
    transition: ease-in-out 0.2s;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .ham-list :active {
    color: #FFF;
    z-index: 10;
  }
  .ham-list__active {
    top: 0;
  }
  .ham-list__active container {
    width: 1100px;
  }
}

.ham-list-item {
  font-size: 20px;
}

.ham-active {
  visibility: hidden;
}

.ham-icon {
  display: none;
}
@media (max-width: 768px) {
  .ham-icon {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 2;
    transition-delay: 1s;
  }
  .ham-icon__active span:nth-child(1) {
    top: 50%;
    transform: translate(0, 3px) rotate(45deg);
  }
  .ham-icon__active span:nth-child(2) {
    opacity: 0;
  }
  .ham-icon__active span:nth-child(3) {
    top: 50%;
    transform: translate(0, -7px) rotate(-45deg);
  }
}

.ham-icon span {
  transition: ease-in-out 0.2s;
  width: 20px;
  border: 1px solid #FFF;
}

.heading {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 42px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tariff {
  padding: 38px 0;
}

.tariff-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 68px 0;
  position: relative;
  width: 940px;
  height: 600px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .tariff-list {
    width: -moz-fit-content;
    width: fit-content;
    height: 1400px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.tariff-card {
  transition: ease-in-out 0.1s;
  position: absolute;
  display: grid;
  grid-template-rows: 204px 288px 100px;
  border: 1px solid #000;
  border: none;
  border-radius: 12px;
  background-color: #6A994E;
  box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .tariff-card {
    position: static;
    grid-template-rows: 204px 150px 100px;
  }
}
.tariff-card:first-child {
  left: 5px;
}
.tariff-card:nth-child(2) {
  left: 322px;
}
.tariff-card:nth-child(2) button::after {
  content: url(../img/arrowBtn.svg);
  margin-left: 10px;
}
.tariff-card_active {
  top: 36px;
  z-index: 3;
  background-color: #1D252B;
}
.tariff-card_active button {
  background-color: #BC4749;
  border: none;
}
.tariff-card:last-child {
  right: -30px;
}

.tariff-top {
  padding: 39px 57px 71px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tariff-top__heading {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 9px 0;
}
.tariff-top__price {
  cursor: pointer;
  display: grid;
  grid-template-columns: 130px 0;
  align-items: baseline;
  color: #FFF;
  font-family: Inter;
  font-size: 37.848px;
  font-weight: 800;
  line-height: 128.023%;
  margin: 0;
  padding: 9px 8px;
}
.tariff-top .price-valut {
  position: absolute;
  top: 58px;
  left: 55px;
  /* display: block; */
  /* height: 5px; */
  font-size: 12px;
}
.tariff-top__interval {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 128.023%;
  cursor: pointer;
}
.tariff-top__interval::before {
  content: "/";
}
.tariff-top__desc {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 128.023%;
  max-width: 220px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 3px 0;
  padding: 15px 0;
}

.tariff-middle {
  padding: 9px 58px;
}
.tariff-middle__heading {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 12px;
}
.tariff-middle__title {
  font-size: 13.247px;
  font-weight: 500;
  line-height: 128.023%;
  color: #FFF;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-list__item {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 128.023%;
  padding: 8px 0;
}
.features-list__item_highlight {
  font-weight: 500;
  color: #FFF;
}
@media (max-width: 1024px) {
  .features-list__item {
    padding: 0;
  }
}
.features-list__item::before {
  content: url(../img/arrow.svg);
  margin-right: 7px;
}

.tariff-btn {
  display: flex;
  align-items: center;
  margin: 34px auto 27px;
  border: 0.864px solid #D0D0D0;
  border-radius: 7px;
  background-color: inherit;
  padding: 11px 62px;
  color: #FFF;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
}
@media (max-width: 1024px) {
  .tariff-btn {
    margin: 45px auto 5px;
  }
}

.scale-in-hor-center {
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-30 14:24:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-hor-center
 * ----------------------------------------
 */
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */