.container{
    background-color: #345d3b;
    height: 1200px;

}
$mobileWidth : 768px;

.wrapper {
    max-width: 1210px;
    margin: auto;
    @media (max-width: $mobileWidth) {
        padding: 0 5px;
    }

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@mixin regTextStyle {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 128.023%;
}
