.container{
    background: #405847;
    // opacity: 0.8;
    // background: radial-gradient(153deg, #36603E 35.82%, #1E26C2 107.75%);
    // box-shadow: 0px -9.631px 86.651px 0px rgba(0, 0, 0, 0.10), 0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position: relative;
}
$tabletWidth : 1024px;

$mobileWidth : 768px;
$text-color: rgba(255, 255, 255, 0.8);
$text-marked-color: #FFF;
.wrapper {
    max-width: 1210px;
    margin: auto;
}
button{
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
$fontFamily : Inter;
@mixin regTextStyle {
    color: $text-color;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 128.023%;
}
@mixin h3Style {
        color: $text-marked-color;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
}
@mixin ulStyle {
  margin: 0;
  padding: 0;
  list-style: none
}