//variables
$tabletWidth : 1024px;
$mobileWidth : 768px;
$text-color: rgba(255, 255, 255, 0.8);
$text-marked-color: #FFF;
$fontFamily : Inter;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


//mixins
@mixin regTextStyle {
    color: $text-color;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 128.023%;
}
@mixin h3Style {
        color: $text-marked-color;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
}
@mixin ulStyle {
  margin: 0;
  padding: 0;
  list-style: none
}
.container {
    max-width: 1340px;
    margin: 0 auto;
    background: url(../img/wallPaper.png);
    background-position-y: 10px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-color: #36603e;
    @media (max-width: $tabletWidth) {

        // background: url(/src/img/logo.png);
    }

    // 36603e
}
// @media (max-width: 1200px) {
//     .container{
//         background: none;
//     }
// }
.wrapper {
    max-width: 1210px;
    margin: auto;

}

button{
    cursor: pointer;
}

